:root {
    --primary-green-color: #3CB684;
    --secondary-green-color: #70D25F;
    --white-color: #FFF;
    --grey-color: #ECECEC;
    --black-color: #0C0C20;
    --blue-petrol-color: #263238;
    --red-alert-color: #F2AE7C;
}