@import url('../../assets/colors/colors.css');

.p-absolute {
  margin: 9pt;
  background: var(--black-color);
  position: absolute;
  border-radius: 1.24rem;
  color: var(--white-color);
  padding: 0.2rem 0.5rem;
}

.mapsBtn {
  color: var(--secondary-grey-color);
  font-size: 0.8rem;
  font-weight: 300;
  line-height: normal;
  cursor: pointer;
}

.mapsBtn:hover {
  font-weight: 400;
}

.descriptionBtn {
  color: var(--primary-green-color);
  font-size: 0.8rem;
  font-style: normal;
  text-decoration-line: underline;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}

.removeBtn {

   
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--secondary-grey-color);
    
    margin-top: 16px;
    cursor: pointer;

}

.removeBtn:hover {
  font-weight: bold;
  color: var(--primary-green-color);
}

.matchesBtn {
  color: var(--primary-green-color);
  font-size: 0.8rem;
  font-style: normal;
  margin-top: 0.5rem;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
  text-decoration-line: underline;
}
